@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  --spacing-18: 4.5rem;
  --spacing-88: 22rem;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes bounceSlow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out;
}
.animate-gradient {
  animation: gradient 3s ease infinite;
}
.animate-bounce-slow {
  animation: bounceSlow 2s infinite;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  transition: background-color 9999s ease-in-out 0s !important;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px #000 inset !important;
  border: 1px solid #525252 !important;
}

::-webkit-scrollbar {
  display: none;
}
html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
